<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">

  <div class="container" data-aos="fade-up">

    <header class="section-header">
      <h2>Contacto</h2>
      <p>¡Contáctanos!</p>
    </header>

    <div class="row gy-4">

      <div class="col-lg-6">

        <div class="row gy-4">
          <div class="col-md-6">
            <div class="info-box">
              <i class="bi bi-geo-alt"></i>
              <h3>Dirección</h3>
              <p>Estamos en Ciudad Autónoma de Buenos Aires, Argentina.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-box">
              <i class="bi bi-telephone"></i>
              <h3>Llámanos</h3>
              <p>+54 911 5797 1509<br/>&nbsp;</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-box">
              <i class="bi bi-envelope"></i>
              <h3>Envíanos un email</h3>
              <p>info@intuiridiomas.com.ar</p>
              <p>&nbsp;</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-box">
              <i class="bi bi-clock"></i>
              <h3>Horarios de atención</h3>
              <p>Lunes - Viernes: 09-21 hs.</p>
              <p>Sábados: 10-14 hs.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <form class="php-email-form" id="contactForm">
          <div class="row gy-4">

            <div class="col-md-6">
              <input type="text" name="name" class="form-control" placeholder="Nombre y Apellido"
                     required>
            </div>

            <div class="col-md-6 ">
              <input type="email" class="form-control" name="email" placeholder="Email"
                     required>
            </div>

            <div class="col-md-12">
              <input type="number" class="form-control" name="phone"
                     placeholder="Teléfono" required>
            </div>

            <div class="col-md-12">
                <textarea class="form-control" name="message" rows="6" placeholder="Mensaje"
                          required></textarea>
            </div>

            <div class="col-md-12 text-center">
              <div class="loading">Enviando...</div>
              <div class="error-message"></div>
              <div class="sent-message">¡Listo! En breve te estaremos contactando!</div>

              <button type="submit">Enviar</button>
            </div>

          </div>
        </form>

      </div>

    </div>

  </div>

</section><!-- End Contact Section -->
