<!-- ======= Exams Section ======= -->
<section id="exams" class="exams">

  <div class="container" data-aos="fade-up">

    <header class="section-header">
      <h2></h2>
      <p>Ex&aacute;menes Internacionales</p>
    </header>

    <div class="clients-slider swiper-container exams">
      <div class="swiper-wrapper align-items-center">
        <div class="swiper-slide"><img
            src="/assets/img/exams/plida.jpg"
            class="img-fluid"
            alt="plida"></div>
        <div class="swiper-slide"><img
            src="/assets/img/exams/celi.png"
            class="img-fluid"
            alt="celi"></div>
        <div class="swiper-slide"><img
            src="/assets/img/exams/cils.png"
            class="img-fluid"
            alt="cils"></div>
        <div class="swiper-slide"><img
            src="/assets/img/exams/path.png"
            class="img-fluid"
            alt="path"></div>
        <div class="swiper-slide"><img
            src="/assets/img/exams/fce.png"
            class="img-fluid"
            alt="fce"></div>
        <div class="swiper-slide"><img
            src="/assets/img/exams/toefl.png"
            class="img-fluid"
            alt="toefl"></div>
        <div class="swiper-slide"><img
            src="/assets/img/exams/ielts.png"
            class="img-fluid"
            alt="ielts"></div>
        <div class="swiper-slide"><img
            src="/assets/img/exams/cae.jpeg"
            class="img-fluid"
            alt="cae"></div>
        <div class="swiper-slide"><img
            src="/assets/img/exams/delf.jpeg"
            class="img-fluid"
            alt="deldalf"></div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>

</section><!-- End Payments Section -->
