<!-- ======= F.A.Q Section ======= -->
<section id="faq" class="faq">

  <div class="container" data-aos="fade-up">

    <header class="section-header">
      <h2>F.A.Q</h2>
      <p>Preguntas frecuentes</p>
    </header>

    <div class="row">
      <div class="col-lg-6">
        <!-- F.A.Q List 1-->
        <div class="accordion accordion-flush" id="faqlist1">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#faq-content-1">
                ¿Qué requisitos necesito para comenzar?
              </button>
            </h2>
            <div id="faq-content-1" class="accordion-collapse collapse"
                 data-bs-parent="#faqlist1">
              <div class="accordion-body">
                Debes solicitar y enviar el formulario de
                inscripción. Recibirás la confirmación de tu
                inscripción por email o whatsapp.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#faq-content-2">
                ¿Cuál es la diferencia entre los distintos cursos?
              </button>
            </h2>
            <div id="faq-content-2" class="accordion-collapse collapse"
                 data-bs-parent="#faqlist1">
              <div class="accordion-body">
                Los distintos cursos se diferencian por el
                tiempo de cursada semanal y la cantidad de
                alumnos admitidos en cada grupo.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#faq-content-3">
                ¿Las clases son solo online?
              </button>
            </h2>
            <div id="faq-content-3" class="accordion-collapse collapse"
                 data-bs-parent="#faqlist1">
              <div class="accordion-body">
                Debido a las restricciones sanitarias actuales,
                por el momento las clases son solo en
                modalidad online, a través de la plataforma
                zoom.
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-lg-6">

        <!-- F.A.Q List 2-->
        <div class="accordion accordion-flush" id="faqlist2">

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#faq2-content-1">
                ¿Las clases son grupales?
              </button>
            </h2>
            <div id="faq2-content-1" class="accordion-collapse collapse"
                 data-bs-parent="#faqlist2">
              <div class="accordion-body">
                Sí. En caso de necesitarlo, puedes
                preguntarnos por la modalidad individual.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#faq2-content-2">
                ¿Y si ya tengo conocimientos de un idioma?
              </button>
            </h2>
            <div id="faq2-content-2" class="accordion-collapse collapse"
                 data-bs-parent="#faqlist2">
              <div class="accordion-body">
                Puedes solicitar realizar el test de nivelación
                sin costo.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#faq2-content-3">
                ¿Dan certificados?
              </button>
            </h2>
            <div id="faq2-content-3" class="accordion-collapse collapse"
                 data-bs-parent="#faqlist2">
              <div class="accordion-body">
                Sí. Los certificados se dan una vez finalizados
                los cursos. En ingl&eacute;s tenemos certificaci&oacute;n oficial.
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>

</section><!-- End F.A.Q Section -->
