<!-- ======= Packs Section ======= -->
<section id="packs" class="pricing">

  <div class="container" data-aos="fade-up">

    <header class="section-header">
      <h2></h2>
      <p>Packs</p>
    </header>

    <div class="row">

      <div class="col-lg-4">
        <div class="box" data-aos="fade-up" data-aos-delay="200">
          <h3>Trimestral</h3>
          <img src="/assets/img/uk-br.jpg" style="width: 45%; padding:0" class="img-fluid" alt="">
          <div class="price" style="color: #ff901c;"><sup>AR$</sup>17700</div>
          <p>
          <ul>
            <li>Curso grupal semanal</li>
            <li>3 clases grupales de conversaci&oacute;n</li>
            <li>10% off pagando en efectivo</li>
            <li>Matr&iacute;cula bonificada</li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
          </ul>
          <a href="#" target="_blank" class="btn-buy whatsapp-cta">¡Consultar!</a>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box" data-aos="fade-up" data-aos-delay="400">
          <h3>Semestral</h3>
          <img src="/assets/img/uk-br.jpg" style="width: 45%; padding:0" class="img-fluid" alt="">
          <div class="price" style="color: #ff901c;"><sup>AR$</sup>35400</div>
          <p>
          <ul>
            <li>Curso grupal semanal</li>
            <li>6 clases grupales de conversaci&oacute;n</li>
            <li>6 clases personalizadas</li>
            <li>10% off pagando en efectivo</li>
            <li>20% off durante 3 meses en otro idioma</li>
            <li>Matr&iacute;cula bonificada</li>
          </ul>
          <a href="#" target="_blank" class="btn-buy whatsapp-cta">¡Consultar!</a>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box" data-aos="fade-up" data-aos-delay="600">
          <h3>Anual</h3>
          <img src="/assets/img/uk-br.jpg" style="width: 45%; padding:0" class="img-fluid" alt="">
          <div class="price" style="color: #ff901c;"><sup>AR$</sup>70800</div>
          <p>
          <ul>
            <li>Curso grupal semanal</li>
            <li>24 clases grupales de conversaci&oacute;n</li>
            <li>12 clases personalizadas</li>
            <li>10% off pagando en efectivo</li>
            <li>20% off durante 1 año en otro idioma</li>
            <li>Matr&iacute;cula bonificada</li>
          </ul>
          <a href="#" target="_blank" class="btn-buy whatsapp-cta">¡Consultar!</a>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="box" data-aos="fade-up" data-aos-delay="200">
          <h3>Trimestral</h3>
          <img src="/assets/img/it-fr.jpg" style="width: 45%; padding:0" class="img-fluid" alt="">
          <div class="price" style="color: #ff901c;"><sup>AR$</sup>23400</div>
          <p>
          <ul>
            <li>Curso grupal semanal</li>
            <li>3 clases grupales de conversaci&oacute;n</li>
            <li>10% off pagando en efectivo</li>
            <li>Matr&iacute;cula bonificada</li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
          </ul>
          <a href="#" target="_blank" class="btn-buy whatsapp-cta">¡Consultar!</a>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box" data-aos="fade-up" data-aos-delay="400">
          <h3>Semestral</h3>
          <img src="/assets/img/it-fr.jpg" style="width: 45%; padding:0" class="img-fluid" alt="">
          <div class="price" style="color: #ff901c;"><sup>AR$</sup>46800</div>
          <p>
          <ul>
            <li>Curso grupal semanal</li>
            <li>6 clases grupales de conversaci&oacute;n</li>
            <li>6 clases personalizadas</li>
            <li>10% off pagando en efectivo</li>
            <li>20% off durante 3 meses en otro idioma</li>
            <li>Matr&iacute;cula bonificada</li>
          </ul>
          <a href="#" target="_blank" class="btn-buy whatsapp-cta">¡Consultar!</a>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box" data-aos="fade-up" data-aos-delay="600">
          <h3>Anual</h3>
          <img src="/assets/img/it-fr.jpg" style="width: 45%; padding:0" class="img-fluid" alt="">
          <div class="price" style="color: #ff901c;"><sup>AR$</sup>93600</div>
          <p>
          <ul>
            <li>Curso grupal semanal</li>
            <li>24 clases grupales de conversaci&oacute;n</li>
            <li>12 clases personalizadas</li>
            <li>10% off pagando en efectivo</li>
            <li>20% off durante 1 año en otro idioma</li>
            <li>Matr&iacute;cula bonificada</li>
          </ul>
          <a href="#" target="_blank" class="btn-buy whatsapp-cta">¡Consultar!</a>
        </div>
      </div>

    </div>

  </div>

</section><!-- End Values Section -->
