<!-- ======= Packs Section ======= -->
<section id="packs" class="pricing">

  <div class="container" data-aos="fade-up">

    <header class="section-header">
      <h2></h2>
      <p>Packs</p>
    </header>

    <div class="row">

      <div class="col-lg-4">
        <div class="box" data-aos="fade-up" data-aos-delay="200">
          <h3>Trimestral</h3>
          <div class="price" style="color: #ff901c;"><sup>AR$</sup>19500</div>
          <p>
          <ul>
            <li>1 clase grupal semanal de 90 min.</li>
            <li>3 clases grupales de conversación.</li>
            <li>10% off pagando en efectivo</li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box" data-aos="fade-up" data-aos-delay="400">
          <h3>Semestral</h3>
          <div class="price" style="color: #ff901c;"><sup>AR$</sup>39000</div>
          <p>
          <ul>
            <li>1 clase grupal semanal de 90 min.</li>
            <li>6 clases grupales de conversación</li>
            <li>6 clases personalizadas</li>
            <li>10% off pagando en efectivo</li>
            <li>20% off durante 3 meses en otro idioma</li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box" data-aos="fade-up" data-aos-delay="600">
          <h3>Anual</h3>
          <div class="price" style="color: #ff901c;"><sup>AR$</sup>78000</div>
          <p>
          <ul>
            <li>1 clase grupal semanal de 90 min.</li>
            <li>24 clases grupales de conversación</li>
            <li>12 clases personalizadas</li>
            <li>10% off pagando en efectivo</li>
            <li>20% off durante 1 año en otro idioma</li>
          </ul>
        </div>
      </div>

    </div>

  </div>

</section><!-- End Values Section -->
