<!-- ======= Payments Section ======= -->
<section id="payments" class="payments">

  <div class="container" data-aos="fade-up">

    <header class="section-header">
      <h2></h2>
      <p>Medios de Pago</p>
    </header>

    <div class="clients-slider swiper-container">
      <div class="swiper-wrapper align-items-center">
        <div class="swiper-slide"><img
            src="assets/img/payment/banelco.png"
            class="img-fluid"
            alt=""></div>
        <div class="swiper-slide"><img
            src="assets/img/payment/link.png"
            class="img-fluid"
            alt=""></div>
        <div class="swiper-slide"><img
            src="assets/img/payment/mp.png"
            class="img-fluid"
            alt=""></div>
        <div class="swiper-slide"><img
            src="assets/img/payment/paypal.png"
            class="img-fluid"
            alt=""></div>
        <div class="swiper-slide"><img
            src="assets/img/payment/wu.png"
            class="img-fluid"
            alt=""></div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>

</section><!-- End Payments Section -->
