<!-- ======= Cursos Section ======= -->
<section id="cursos" class="pricing">

  <div class="container" data-aos="fade-up">

    <header class="section-header">
      <h2></h2>
      <p>Nuestros cursos</p>
    </header>

    <div class="row gy-6" data-aos="fade-left" style="justify-content: center">

      <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
        <div class="box">
          <h3 style="color: #07d5c0;">Italiano</h3>
          <div class="price"><sup>AR$</sup>XXXX</div>
          <div class="price"><span>mensual</span></div>
          <img src="/assets/img/flag-it.jpeg" class="img-fluid" alt="">
          <a href="https://drive.google.com/file/d/1PYzPlsi_kId2OpkMGhQOcPYuU5XqAtWL/view"
             target="_blank" class="btn-buy">¡Más información!</a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
        <div class="box">
          <h3 style="color: #65c600;">Espa&ntilde;ol</h3>
          <div class="price"><sup>AR$</sup>XXXX</div>
          <div class="price"><span>mensual</span></div>
          <img src="/assets/img/flag-es.jpeg" class="img-fluid" alt="">
          <a href="https://drive.google.com/file/d/1PYzPlsi_kId2OpkMGhQOcPYuU5XqAtWL/view"
             target="_blank" class="btn-buy">¡Más información!</a>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Pricing Section -->
