<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">

  <div class="container" data-aos="fade-up">

    <header class="section-header">
      <h2></h2>
      <p>Nuestros cursos</p>
    </header>

    <div class="row gy-6" data-aos="fade-left" style="justify-content: center">

      <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
        <div class="box">
          <h3 style="color: #07d5c0;">Cursos On Demand</h3>
          <div class="price"><sup>AR$</sup>13600</div>
          <div class="price"><span>4 meses</span></div>
          <img src="/assets/img/cursos-demmand.png" class="img-fluid" alt="">
          <a href="https://drive.google.com/file/d/1gpVs9nfiM7fhZOOuK47tl-eOo7CrpAkS/view"
             target="_blank" class="btn-buy">¡Más información!</a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
        <div class="box">
          <h3 style="color: #65c600;">Cursos por Niveles</h3>
          <div class="price"><sup>AR$</sup>18800</div>
          <div class="price"><span>4 meses</span></div>
          <img src="/assets/img/cursos-nivelados.png" class="img-fluid" alt="">
          <a href="https://drive.google.com/file/d/1PYzPlsi_kId2OpkMGhQOcPYuU5XqAtWL/view"
             target="_blank" class="btn-buy">¡Más información!</a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
        <div class="box">
          <h3 style="color: #ff901c;">Cursos para Niños</h3>
          <div class="price"><sup>AR$</sup>26000</div>
          <div class="price"><span>5 meses</span></div>
          <img src="/assets/img/cursos-kids.png" class="img-fluid" alt="">
          <a href="https://drive.google.com/file/d/17N_w8ssMCRtMCtvIxEvwOzZDm32edzHr/view"
             target="_blank" class="btn-buy">¡Más información!</a>
        </div>
      </div>
    </div>

  </div>

</section><!-- End Pricing Section -->
