<!-- ======= Services Section ======= -->
<section id="services" class="services">

  <div class="container" data-aos="fade-up">

    <header class="section-header">
      <h2></h2>
      <p>Servicios</p>
    </header>

    <div class="row gy-4">

      <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-box blue">
          <img class="icon" src="/assets/img/services/ciudadania.jpeg" alt="Ciudadania Italiana"/>
          <h3>Ciudadan&iacute;a italiana</h3>
          <p>Bajo el principio de “Ius Sanguinis” (derecho de sangre) la ciudadanía italiana se
            hereda desde los padres y se basa en el vínculo consanguíneo con un antepasado
            italiano/a (AVO).</p>
          <a href="https://drive.google.com/file/d/16A3FhYdhdr4tKVNeNWZ8fQcJdTe5QS9T/view"
             class="read-more" target="_blank"><span>Saber m&aacute;s</span>
            <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>

      <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-box orange">
          <img class="icon" src="/assets/img/services/incompany.jpeg" alt="Ingles In-Company"/>
          <h3>Ingl&eacute;s In-Company</h3>
          <p>Asistencia personalizada en formas de lecciones grupales semanales más una tutoría
            semanal por grupo. Esto articula las clases con los requerimientos específicos de cada
            equipo según su área.</p>
          <a href="https://drive.google.com/file/d/15eT0Wx4Pax2nYs-2ddShOt7jDZO8n5ri/view"
             target="_blank" class="read-more"><span>Saber m&aacute;s</span> <i
              class="bi bi-arrow-right"></i></a>
        </div>
      </div>
    </div>

  </div>

</section><!-- End Services Section -->
