<!-- ======= Values Section ======= -->
<section id="values" class="values">

  <div class="container" data-aos="fade-up">

    <header class="section-header">
      <h2></h2>
      <p>Ideario</p>
    </header>

    <div class="row">

      <div class="col-lg-4">
        <div class="box" data-aos="fade-up" data-aos-delay="200">
          <img src="assets/img/mision.png" class="img-fluid" alt="">
          <h3>Misión</h3>
          <p>Dar a las personas el poder de comunicarse
            para romper las barreras personales y colaborar en
            la construcción de un mundo más inclusivo.</p>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box" data-aos="fade-up" data-aos-delay="400">
          <img src="assets/img/vision.png" class="img-fluid" alt="">
          <h3>Visión</h3>
          <p>Deseamos ser pioneros y referentes globales en la
            implementación del método intuitivo como
            herramienta facilitadora para adquirir idiomas.</p>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box" data-aos="fade-up" data-aos-delay="600">
          <img src="assets/img/valores.png" class="img-fluid" alt="">
          <h3>Valores</h3>
          <p>Compromiso, comunidad, desarrollo humano, servicio
            e inclusión.</p>
        </div>
      </div>

    </div>

  </div>

</section><!-- End Values Section -->
