<!-- ======= How We Work Section ======= -->
<section id="work" class="services">

  <div class="container" data-aos="fade-up">

    <header class="section-header">
      <h2></h2>
      <p>¿Cómo trabajamos?</p>
    </header>

    <div class="row gy-4">

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-box blue">
          <img class="icon-work" src="assets/img/metodo-eficaz.png" alt="Un método eficaz"/>
          <h3>Un método eficaz</h3>
          <p>Este sistema de aprendizaje considera el idioma como una habilidad que todos
            podemos desarrollar, sin límite de edad y aprovechando nuestros tiempos muertos.</p>
          <a href="#contact" class="read-more"><span>Quiero probar el método</span>
            <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-box orange">
          <img class="icon-work" src="assets/img/grupos-reducidos.png" alt="Grupos reducidos"/>
          <h3>Grupos reducidos</h3>
          <p>Los encuentros mantienen un carácter personalizado sin perder la riqueza del
            intercambio con otras personas y se estimula la escucha activa de la lengua.</p>
          <a href="#contact" class="read-more"><span>Es lo que busco</span> <i
              class="bi bi-arrow-right"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
        <div class="service-box green">
          <img class="icon-work" src="assets/img/material.png" alt="Material"/>
          <h3>Te damos el material</h3>
          <p>Nuestro material está elaborado en función del método, por lo que logra adaptarse a
            las necesidades de los estudiantes en cada nivel, evitando tener que comprar libros
            costosos.</p>
          <a href="#contact" class="read-more"><span>Inscribirme ahora</span> <i
              class="bi bi-arrow-right"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
        <div class="service-box red">
          <img class="icon-work" src="assets/img/cursos-y-talleres.png" alt="Cursos y Talleres"/>
          <h3>Cursos y talleres</h3>
          <p>Las clases para adultos son hasta 2 veces por semana y duran 90 minutos. Los cursos
            para niños son 2 veces por semana y duran 60 minutos. Todos nuestros cursos son
            online.</p>
          <a href="#contact" class="read-more"><span>Más información</span> <i
              class="bi bi-arrow-right"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
        <div class="service-box purple">
          <img class="icon-work" src="assets/img/nivelacion.png" alt="Test de Nivelación"/>
          <h3>Test de nivelación</h3>
          <p>Podrás realizar un test de manera gratuita para conocer tu nivel. Esto nos permitirá
            ofrecerte grupos acordes a tu progresión. La realización del test no te obliga a
            comenzar un curso.</p>
          <a href="#contact" class="read-more"><span>Quiero hacer mi test de nivelación</span> <i
              class="bi bi-arrow-right"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
        <div class="service-box pink">
          <img class="icon-work" src="assets/img/flexibilidad.png" alt="Cuando y donde quieras"/>
          <h3>Cuando y donde quieras</h3>
          <p>Los profesores registrarán la clase y la podrás ver cuando
            y donde desees. Con nuestro sistema, ni los compromisos de última hora ni los viajes
            impostergables son un obstáculo.
          </p>
          <a href="#contact" class="read-more"><span>Me interesa</span> <i
              class="bi bi-arrow-right"></i></a>
        </div>
      </div>

    </div>

  </div>

</section><!-- End Services Section -->
