<div class="sidebar">
  <h3 class="sidebar-title">Buscar</h3>
  <div class="sidebar-item search-form">
    <form action="">
      <input type="text">
      <button type="submit"><i class="bi bi-search"></i></button>
    </form>
  </div><!-- End sidebar search formn-->

  <h3 class="sidebar-title">Categorías</h3>
  <div class="sidebar-item categories">
    <ul>
      {% for category in site.categories %}
      <li><a href="#">{{ category[0] }} <span>({{ category[1].size }})</span></a></li>
      {% endfor %}
    </ul>
  </div><!-- End sidebar categories-->

  <h3 class="sidebar-title">Últimos posteos</h3>
  <div class="sidebar-item recent-posts">

    {% for post in site.posts | limit: 5 %}
    <div class="post-item clearfix">
      <img src="{{ post.images[0] }}" alt="">
      <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
      <time datetime="2020-01-01">{{ post.date | date: '%B %d, %Y' }}</time>
    </div>
    {% endfor %}
  </div><!-- End sidebar recent posts-->

  <h3 class="sidebar-title">Tags</h3>
  <div class="sidebar-item tags">
    <ul>
      {% for tag in site.tags %}
      <li><a href="#">{{ tag[0] }}</a></li>
      {% endfor %}
    </ul>
  </div><!-- End sidebar tags-->

</div><!-- End sidebar -->
