<!DOCTYPE html>
<html lang="es">

<head>
  <title>Intuir Idiomas</title>
  <meta name="description" content="Clases de inglés, italiano y portugués!">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="facebook-domain-verification" content="qjho0s1ba18t7m4uxpfht83345p9w9"/>

  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/main.css" rel="stylesheet">

  {% include google.html %}
  {% include facebook.html %}

</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="/" class="logo d-flex align-items-center">
      <img src="/assets/img/logo.png" alt="logo">
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="/">Inicio</a></li>
        <li><a class="nav-link scrollto" href="#about">Nosotros</a></li>
        <li><a class="nav-link scrollto" href="#services">Servicios</a></li>
        <!--<li><a class="nav-link" href="/blog">Blog</a></li>-->
        <li><a class="nav-link scrollto" href="#contact">Contacto</a></li>
        <li><a class="getstarted scrollto" href="#about">¡Comenzar!</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->

{{ content }}

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

  <div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <h4>Nuestra newsletter</h4>
          <p>Déjanos tu email y entérate de todas nuestras novedades: ¡Cursos, Promos y más!</p>
        </div>
        <div class="col-lg-6">
          <form class="php-email-form newsletter" id="newsletterForm">
            <input type="email" name="email"/>
            <button type="submit">Enviar</button>
            <div class="col-md-12 text-center">
              <div class="loading">Enviando...</div>
              <div class="error-message"></div>
              <div class="sent-message">¡Listo! Te mantendremos informado/a de nuestras novedades!
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-top">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="/" class="logo d-flex align-items-center">
            <img src="/assets/img/logo.png" alt="">
            <span>Intuir Idiomas</span>
          </a>
          <p>¡Síguenos en nuestras redes sociales!</p>
          <div class="social-links mt-3">
            <a href="https://www.facebook.com/intuiridiomasok" class="facebook" target="_blank"><i
                class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/intuir.idiomas" target="_blank" class="instagram"><i
                class="bi bi-instagram bx bxl-instagram"></i></a>
            <a href="https://www.linkedin.com/in/intuir-idiomas" target="_blank" class="linkedin"><i
                class="bi bi-linkedin bx bxl-linkedin"></i></a>
            <a href="https://vm.tiktok.com/ZMeWkgqHE/" target="_blank"><img
                src="/assets/img/tiktok.png" style="margin-top: -5px;height: 22px"/></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Links útiles</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Inicio</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#about">Nosotros</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#services">Cursos</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#contact">Contacto</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Nuestros cursos</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Inglés</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Italiano</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Portugués</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contáctanos</h4>
          <p>
            <!--A108 Adam Street <br>
            Ciudad Autónoma de Buenos Aires<br>
            Argentina<br><br>-->
            <strong>Teléfono:</strong> +54 911 5797 1509<br>
            <strong>Email:</strong> intuiridiomas@gmail.com<br>
          </p>

        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span><script>document.write(new Date().getFullYear());</script>
      Intuir Idiomas</span></strong>. Todos los derechos reservados.
    </div>
    <!--<div class="credits">Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a></div>-->
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
  <i class="bi bi-arrow-up-short"></i>
</a>
<a href="#" class="whatsapp-btn d-flex align-items-center justify-content-center">
  <i class="bi bi-whatsapp"></i>
</a>


<!-- Vendor JS Files -->
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/purecounter/purecounter.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>

</body>

</html>

